[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cytoKernel"]
	path = cytoKernel
	url = https://github.com/ghoshlab/cytokernel
[submodule "marr"]
	path = marr
	url = https://github.com/ghoshlab/marr
